<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<ul class="menu">
    <li><a href="#/view1">view1</a></li>
</ul>

<div ng-view></div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/underscore.js"></script>

<script src="{{ STATIC_URL }}app/lib/angular/angular.js"></script>
<script src="{{ STATIC_URL }}app/js/app.js"></script>
<script src="{{ STATIC_URL }}app/js/services.js"></script>
<script src="{{ STATIC_URL }}app/js/controllers.js"></script>
<script src="{{ STATIC_URL }}app/js/filters.js"></script>
<script src="{{ STATIC_URL }}app/js/directives.js"></script>


{% block extra_js %}{% endblock extra_js %}
</body>
</html>
